# Python
.venv/
__pycache__/
*.py[cod]

# dbt
target/
dbt_packages/
logs/
.partial_parse.msgpack

# Credenciais dbt
profiles.yml
.dbt/

# Ambiente
.env
.env.*
!.env.example

# Airflow
airflow/logs/
backup_airflow_metadata_*.sql

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
